<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.train.rbac.dao.MenuDao">

    <resultMap id="BaseResultMap" type="com.boss.train.rbac.entities.po.MenuPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="path" property="path" jdbcType="VARCHAR"/>
        <id column="hidden" property="hidden" jdbcType="TINYINT"/>
        <id column="parentId" property="parentId" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="createMenu" parameterType="com.boss.train.rbac.entities.dto.MenuDTO" useGeneratedKeys="true" keyProperty="id">
        insert into menu (name,path,hidden,parentId) values (#{name},#{path},#{hidden},#{parentId});
    </insert>

    <delete id="deleteMenu" parameterType="Integer">
        delete from menu where id = #{id};
    </delete>

    <update id="updateMenu" parameterType="com.boss.train.rbac.entities.dto.MenuDTO">
        update menu set name = #{name},path = #{path},hidden = #{hidden},parentId = #{parentId} where id = #{id};
    </update>

    <select id="getMenu" parameterType="Integer" resultMap="BaseResultMap">
        select * from menu where id = #{id};
    </select>

    <select id="getMenus" resultMap="BaseResultMap">
        select * from menu;
    </select>

    <select id="getMenusByParentId" parameterType="Integer" resultMap="BaseResultMap">
        select * from menu where parentId = #{parentId};
    </select>

</mapper>